[submodule "Frameworks/SPUserResizableView"]
	path = Frameworks/SPUserResizableView
	url = git@github.com:appunite/SPUserResizableView.git
[submodule "Frameworks/AURosetteView"]
	path = Frameworks/AURosetteView
	url = git@github.com:piotrek21/AURosetteView.git
